:root {
  --bcg-main: #FFFFFF;
  --bcg-hero: #2F303A;
  --primary-text: #757575;
  --header-text: #212121;
  --accent: #2196F3;
  --white-text: #FFFFFF;
  --bcg-button: #F5F4FA;
  --icon-fill: #AFB1B8;
  --icon-bckg-hover: #2196F3;
  --card-overlay: #2196F3E5;
  --backdrop-color: #00000033;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.title {
  margin: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.section-list {
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: block;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo__accent {
  color: #2196F3;
}

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
  background-color: var(--bcg-main);
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.page-header__container,
.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav__item {
  position: relative;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--current {
  color: #2196F3;
}
.site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.site-nav,
.contacts {
  margin: 0;
  list-style-type: none;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero-section {
  margin: 0 auto;
  padding: 200px 0;
  max-width: 1600px;
  background-color: var(--bcg-hero);
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
}

.page-title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--white-text);
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.button {
  margin: 0 auto;
  padding: 10px 32px;
  background-color: var(--accent);
  color: var(--white-text);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--bcg-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-close:hover .button-close__icon {
  fill: #2196F3;
}

.js-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.js-form__field {
  position: relative;
  margin-bottom: 10px;
  color: #212121;
}

.js-form__label {
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.js-form__input {
  z-index: 1;
  margin: 0;
  padding: 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-form__input:hover, .js-form__input:focus, .js-form__input:not(:placeholder-shown) {
  border-color: #2196F3;
}
.js-form__input::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.js-form__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  z-index: 2;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-form__input:hover + .js-form__icon, .js-form__input:focus + .js-form__icon {
  color: #2196F3;
}

.comment {
  margin-bottom: 20px;
}

.textarea {
  display: block;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.js-form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.js-form__checkbox-label {
  display: inline-block;
  margin-left: 8px;
  line-height: 1.7;
}

.js-form__agreement-link {
  line-height: 1.7;
  text-decoration-line: underline;
  color: #2196F3;
}

.js-form__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.js-form__checkbox-input:checked + .js-form__checkbox-icon {
  fill: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/icon.svg/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.benefits {
  padding: 94px 0;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--bcg-button);
  margin-bottom: 30px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
}

.benefits__text {
  line-height: 1.7;
}

.work {
  padding-bottom: 94px;
}

.work__item {
  position: relative;
  z-index: 1;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.5019607843);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  background: #FFFFFF;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__card {
  max-width: 270px;
  padding: 30px 32px;
}

.team__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team__position {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  padding: 94px 0;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.page-footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.page-footer__container {
  display: flex;
}

.page-footer__logo {
  margin-bottom: 20px;
  color: #FFFFFF;
}

.contacts-title {
  display: none;
}

.contact-list {
  display: inline-block;
  list-style-type: none;
  font-style: normal;
  line-height: 1.7;
  margin-right: 70px;
}

.contact-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list__link {
  color: rgba(255, 255, 255, 0.6);
}

.contact-list__text {
  color: #FFFFFF;
}

.join {
  padding-top: 12px;
  margin-right: 93px;
}

.join__text {
  display: block;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social__link--inverse {
  background-color: rgba(255, 255, 255, 0.062745098);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon--inverse {
  fill: #FFFFFF;
}

.subscription {
  padding-top: 12px;
}

.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription__js-form {
  display: flex;
  width: 570px;
}

.subscription__form-field {
  position: relative;
  margin-right: 12px;
  margin-bottom: 0;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscription__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:focus + .subscription__label {
  display: none;
}

.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.subscription__icon {
  margin-left: 10px;
  fill: currentColor;
}

.portfolio {
  padding: 94px 0;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-list__filter {
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
  border: 0mm;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  transition: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-list__filter:hover, .buttons-list__filter:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

.card-set--portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set__link {
  display: inline-block;
  flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__content {
  padding: 20px 24px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEEEEE;
  border-top-style: none;
}

.card-set__heading {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}

.card-set__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.8980392157);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover .card-set__overlay {
  transform: translatey(0);
}

.card-set__overlay-text {
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */